* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

.top {
    display: flex;
    flex-grow: 1;
    place-content: center;
    place-items: end;
    width: 100%;
}

.doorstructure {
    height: 150px;
    width: 100px;
    border-radius: 2px;
}

.portal {
    height: 100%;
    display: flex;
    place-content: center;
    width: 100%;
    background: #000000;
    place-items: center;
    position: relative;
}

.otherside {
    height: 95%;
    width: 90%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.closeshadow {
    box-shadow: 0px 15px 13px -2px #ffffff47;
}

.door {
    height: 100%;
    display: flex;
    width: 140%;
    position: absolute;
    border-radius: 1px;
    background: #000000;
    flex-direction: column;
    right: -42px;
    align-items: flex-start;
    justify-content: center;
    transform: rotate3d(0, 1, 0, 0deg);
    transition: all 0.5s ease;
}

.doorfront {
    width: 15px;
    height: 1px;
    background: #403939;
    position: absolute;
    top: 0;
    left: -15px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-top-left-radius: 2px;
}

.doorleft {
    height: 150px;
    width: 26px;
    background: #0d0d0d;
    position: absolute;
    left: -13px;
    bottom: 0px;
    transition: all 0.5s ease;
    transform: rotate3d(0, 1, 0, 90deg);
    transform-style: preserve-3d;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.doorleftopen {
    transform: rotate3d(0, 1, 0, 24deg);
    left: -23px;
}

.dooropen {
    transform: rotate3d(0, 1, 0, 59deg);
}

.handle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    background-color: #4D4D4D;
    justify-content: flex-end;
    align-items: center;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}

.handleopen {
    box-shadow: -3px 0px 2px -1px #ffffff;
}

.handlemiddle {
    width: 3px;
    height: 5px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: #262626;
    border-bottom-right-radius: 60%;
    border-top-right-radius: 65%;
    border-top-left-radius: 32%;
    border-bottom-left-radius: 59%;
    rotate: 35deg;
    cursor: pointer;
}

.shadowexpansive {
    height: 100%;
    width: 100%;
    background: #ffffff33;
    backdrop-filter: blur(14px);
    clip-path: polygon(43.6% 0%, 57% 0%, 100% 100%, 0% 100%);
    transition: all 0.5s ease;
    max-width: 754px;
    min-width: 754px;
}

.shadowexpansiveopen {
    clip-path: polygon(43.6% 0%, 47% 0%, 14% 100%, 0% 100%);
}

.down {
    flex-grow: 1;
    width: 100%;
    display: flex;
    place-items: center;
    place-content: center;
}